/* <author>Cyber.JTR.FUKK</author> <email>hm</email> */

BODY {
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	text-align: right;
	color: #DDEEDD;
	background-color: #333333;
}

TABLE {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	text-align: right;
	color: #DDEEDD;
	border-color: #444333;
	border-style: solid;
	border-width: 0;
}

TD {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	text-align: right;
	white-space: NOWRAP;
	border-color: #777777 #333333 #333333 #777777;
	border-style: solid;
	border-width: 1px;
	vertical-align: middle;
	padding-left: 3; 
	padding-right: 3;
}

A:link { color: #DDDFDF; }
A:visited { color: #DDDFDF; }
A:active { color: #DDDFDF; }
A:hover { color: #BB0000; }

.cell1 {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	text-align: right;
	color: #DDEEDD;
	background-color: #767676;
	border-color: #535327 #2D2D01 #2D2D01 #535327;
}

.cell2 {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	text-align: right;
	color: #DDEEDD;
	background-color: #656565;
	border-color: #5B5B2F #353509 #353509 #5B5B2F;
}

.cellBG {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	text-align: right;
	color: #DDEEDD;
	background-color: #333333;
	border-color: #5A5A34 #41411B #41411B #5A5A34;
}

.cellHeading {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	text-align: right;
	color: #E7E7C5;
	background-color: #454545;
	border-color: #565656 #333333 #333333 #565656;
	border-width: 2px;
}

.cellSubHeading {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	text-align: right;
	color: #EFEFEF;
	background-color: #565656;
	border-color: #767676 #2D2D01 #2D2D01 #676767;
	border-width: 1px;
}

.cellHeadingTeam1 {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	text-align: right;
	color: #DDEEDD;
	background-color: #5B4923;
	border-width: 0;
}

.cellHeadingTeam2 {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	text-align: right;
	color: #DDEEDD;
	background-color: #383424;
	border-width: 0;
}

.rowNormal {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	text-align: right;
	color: #DDEEDD;
}

.rowHighlight {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	text-align: right;
	color: #00DD00;
	background-color: #23230B;
}

.role1 {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	text-align: right;
	background-color: #082746;
	border-color: #455C74 #061D35 #061D35 #455C74;
	color: #DDEEDD;
}

.role2 {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	text-align: right;
	background-color: #082746;
	border-color: #455C74 #061D35 #061D35 #455C74;
	color: #DDEEDD;
}

.role3 {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	text-align: right;
	background-color: #082746;
	border-color: #455C74 #061D35 #061D35 #455C74;
	color: #DDEEDD;
}

.role4 {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	text-align: right;
	background-color: #082746;
	border-color: #455C74 #061D35 #061D35 #455C74;
	color: #DDEEDD;
}

.team1 {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	background-color: #6F2222;
	border-color: #AF3333 #2F2222 #2F2222 #AF3333;
	color: #FFFFFF;
}

.team2 {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	background-color: #22226F;
	border-color: #3333AF #22226F #22226F #3333AF;
	color: #DDEEDD;
}

.team3 {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	background-color: #67512E;
	border-color: #5A5A34 #41411B #41411B #5A5A34;
	color: #DDEEDD;
}

.team4 {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	background-color: #504D3E;
	border-color: #5A5A34 #41411B #41411B #5A5A34;
	color: #DDEEDD;
}